<html>

<head>
    <style>
        .wrapper {
            display: grid;
            grid-template-columns: 70% 30%;
        /*  grid-column-gap: 1em;
            grid-row-gap: 1em;  */
            gap: 1em;
        }

        .wrapper>div {
            background: #eee;
            padding: 1em;
        } 

        .wrapper>div:nth-child(odd) {
            background: #ddd;
        }
    </style>
    <title>
        Grid Layout
    </title>
</head>

<body>
    <div class="wrapper">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ab, deleniti ipsam, culpa consectetur ut
            numquam laboriosam, neque eum libero odit. Nostrum modi inventore, optio molestiae nihil, et laboriosam
            porro voluptatem eos sapiente deserunt iure sequi maiores mollitia voluptatum natus nesciunt consequatur
            quidem tempora excepturi! Corporis ut quam dolor officia ex minima, fuga dolores totam rem eaque quos alias
            aut harum explicabo laboriosam quis vitae officiis mollitia ab ducimus recusandae optio autem? Sapiente cum
            cumque temporibus aliquid officiis doloremque quis.

        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eaque, vel corrupti sequi possimus itaque nisi
            eius illum velit cum nam quaerat quidem minus nihil necessitatibus voluptatem inventore repellendus magni.

        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ab, deleniti ipsam, culpa consectetur ut
            numquam laboriosam, neque eum libero odit. Nostrum modi inventore, optio molestiae nihil, et laboriosam
            porro voluptatem eos sapiente deserunt iure sequi maiores mollitia voluptatum natus nesciunt consequatur
            quidem tempora excepturi! Corporis ut quam dolor officia ex minima, fuga dolores totam rem eaque quos alias
            aut harum explicabo laboriosam quis vitae officiis mollitia ab ducimus recusandae optio autem? Sapiente cum
            cumque temporibus aliquid officiis doloremque quis.

        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eaque, vel corrupti sequi possimus itaque nisi
            eius illum velit cum nam quaerat quidem minus nihil necessitatibus voluptatem inventore repellendus magni.

        </div>

    </div>
</body>

</html>